body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 241, 241);
}

#preset h3, #custom h3 {
    margin-top: 0;
}
#preset .actions button {
    width: 100px;
    height: 100px;
}

.box {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20%;
    margin: 5px;
    background-color: black;
}

.d-inline-block{
    display: inline-block;
}

#custom input[type=checkbox] {
    margin-left: 14px;
}
#custom .actions {
    margin-top: 20px;
}
#custom .actions button {
    width: 100px;
}

.card {
    padding: 10px;
    margin-top: 20px;
    max-width: 500px;
    background-color: rgb(24, 27, 35);
}

button {
    background-color: rgb(31, 45, 43);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(109, 162, 117);
    padding: 5px;
    margin-right: 5px;
}

#picker {
    margin-right: 10px;
    width: 50px;
    height: 30px;
}