<html>
<head>
    <link rel="stylesheet" href="./static/style.css" />
    <title>Raspberry Pi - Blinkt! Control Panel</title>
    <script type="text/javascript">
        const indexes = ["0", "1", "2", "3", "4", "5", "6", "7"];

        function setUp() {
            const colorPicker = document.getElementById("picker");
            colorPicker.addEventListener("change", handleColourChange, false);
        }

        function getAllCheckBoxes() {
            const wrapper = document.getElementById("custom");
            return wrapper.querySelectorAll("input[type='checkbox']");
        }

        function handleColourChange(evt) {
            const wrapper = document.getElementById("custom");
            wrapper.querySelectorAll("input[type='checkbox']:checked").forEach((c) => {
                const index = c.getAttribute("data-index");
                const b = wrapper.querySelector("#box_" + index);
                const colour = event.target.value;
                b.style.backgroundColor = colour;
                b.setAttribute("data-hex-colour", colour);
            });
        }

        function setSelection(indexes) {
            const checkBoxes = getAllCheckBoxes();
            checkBoxes.forEach((c) => {
                c.checked = indexes.includes(c.getAttribute("data-index"));
            })
        }

        function selectNone() {
            setSelection([]);
        }

        function selectAll() {
            setSelection(indexes);
        }

        function selectOdds() {
            setSelection(indexes.filter(x => x % 2 !== 0));
        }

        function selectEvens() {
            setSelection(indexes.filter(x => x % 2 === 0));
        }

        function sendGetRequest(url) {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // Handle response
                }
            };
            xhttp.open("GET", url, true);
            xhttp.send();
        }

        function applyCustomColours() {
            const wrapper = document.getElementById("custom");
            const hexColours = [];
            wrapper.querySelectorAll(".box").forEach((b) => {
                hexColours.push((b.getAttribute("data-hex-colour") ?? "#000").replace("#", ""));
            });
            sendGetRequest('/publish/custom?c=' + hexColours.join());
        }
    </script>
</head>
<body onload="setUp()">
    <h1>Blinkt! Control Panel</h1>
    <div id="preset">
        <h3>Preset patterns</h3>
        <div class="actions">
            <button onclick="sendGetRequest('/publish/red')">Red</button>
            <button onclick="sendGetRequest('/publish/clear')">Clear</button>
        </div>
    </div>

    <div id="custom">
        <h3>Custom colours</h3>
        <div class="d-inline-block">
            <div class="box" id="box_0"></div>
            <input type="checkbox" data-index="0" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_1"></div>
            <input type="checkbox" data-index="1" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_2"></div>
            <input type="checkbox" data-index="2" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_3"></div>
            <input type="checkbox" data-index="3" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_4"></div>
            <input type="checkbox" data-index="4" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_5"></div>
            <input type="checkbox" data-index="5" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_6"></div>
            <input type="checkbox" data-index="6" />
        </div>
        <div class="d-inline-block">
            <div class="box" id="box_7"></div>
            <input type="checkbox" data-index="7" />
        </div>

        <div class="actions">
            <button onclick="selectNone()">None</button>
            <button onclick="selectAll()">All</button>
            <button onclick="selectOdds()">Odds</button>
            <button onclick="selectEvens()">Evens</button>
        </div>

        <br />
        <input id="picker" type="color"/>
        <button onclick="applyCustomColours()">Apply</button>
        <button onclick="window.location.href='/publish/clear'">Clear</button>
    </div>
</body>
</html>